#left{
    width: calc(100% - 295px);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
body{
    background-color: darkgray;
    background-attachment: fixed;
    cursor:default;
}
.ui.icon{
    cursor:pointer;
}
.ui.icon:hover{
    color:#8bc34a;
}
.lpresence {
    overflow-y: hidden;
    height: 190px;
}
.lpresence:hover{
    overflow: auto;
}
.presCont{
    display: flex;
justify-content: space-between;
font-size: 15px;
width: 470px;
padding: 5px;
}
.none {
display: flex;
justify-content: center;
width: 100%;
height: 100%;
font-size: 20px;
align-items: center;
}
h4 {
    text-align: center;
}
.presence{
    padding: 10px;
width: 500px;
/* overflow-y: auto; */
height: 245px;
margin-bottom: 25px;
}
nav{
    display: flex;
    justify-content: space-between;
    /* background-color: darkgray; */
    font-size: 1.5em;
    padding: 15px 10px;
    margin-bottom: 15px;
    width: 100%;
    height: 70px;
    align-items: center;

}
.content{
    display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
#right{
    width: 280px;
margin-right: 10px;
padding: 10px;
height:540px;
}
.mProfil{
    display: flex;
justify-content: space-between;
font-weight: bold;
}
.photo{
    display: flex;
flex-direction: row;
}
.photo>img{
    width: 260px;
border-radius: 15px;
}
.photo>.ui.icon.edit{
    margin-left: -25px;
margin-top: 10px;
color: #f44336;
}
table{
    width:100%;
}
table tr td:last-child{
    text-align:right;
}
table tr td:first-child{
    text-align:left;
    font-weight:bold;
}
#deconnexDiv
{
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #978f8fad;
}
#deconnexDiv>.bg-color
{
    animation: cube 0.3s;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#deconnexDiv>.bg-color>.deconnexBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#presenceCont>.ui.button{
    height: 100px;
}
#cmdp>#sortirForm{
    display: flex;
    height: auto;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
#cmdp>#sortirForm .button{
    display: flex;
    justify-content: space-between;
}
.message{
    font-size: 20px;
    font-family: cursive;
}
.logoDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}
.logoTop {
    height: 50px;
}
@keyframes cube{
    from {
        transform: scale(0);
    }
}