body 
{
    background-color: #f0f2f5 !important;
    color: black;
    transition: 0.3s;
}
.bg-color{
    background-color: white;
    color: black;
    border-radius:10px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    animation:0.3s cube;
}